{% load static %}

<section class="mb-6">
    <div class="text-center mb-5">
        <h2 class="text text-uppercase fw-bold mb-3">Банки-партнёры</h2>
        <p class="text-muted" style="text-align: center; font-size: 18px;">Мы выстраиваем долгосрочное и взаимовыгодное партнерство с ведущими финансовыми учреждениями России, что обеспечивает нам доступ к широкой линейке банковских продуктов и возможность подбора оптимального решения для каждого бизнеса. Работаем более чем со 100 банками как в экспресс-режиме, так и в корпоративном секторе.</p>
    </div>
    
    <div class="bg-white rounded-3 shadow-sm p-3">
        <div class="banks-carousel-container">
            <div class="banks-carousel-track">
                <!-- Первый набор банков -->
                <!-- Сбербанк -->
                <div class="bank-item">
                    <img src="https://toplogos.ru/images/thumbs/preview-logo-sber.png" alt="Сбербанк" class="bank-logo">
                </div>
                
                <!-- ВТБ -->
                <div class="bank-item">
                    <img src="https://toplogos.ru/images/thumbs/preview-logo-vtb.png" alt="ВТБ" style="width: 130px; height: auto;" class="bank-logo">
                </div>
                
                <!-- Альфа-Банк -->
                <div class="bank-item">
                    <img src="https://toplogos.ru/images/thumbs/preview-logo-alfa-bank.jpg" alt="Альфа-Банк" class="bank-logo">
                </div>
                
                <!-- Инго-Банк -->
                <div class="bank-item">
                    <img src={% static "src/images/banks/ingo.png" %} alt="Инго-Банк" style="width: 130px; height: auto;"  class="bank-logo">
                </div>

                <!-- Хлынов-Банк -->
                <div class="bank-item">
                    <img src={% static "src/images/banks/hlyn.svg" %} alt="Хлынов-Банк" class="bank-logo">
                </div>

                <!-- ББР-Банк -->
                <div class="bank-item">
                    <img src={% static "src/images/banks/bbr.png" %} alt="ББР-Банк" class="bank-logo">
                </div>

                <!-- НБС-Банк -->
                <div class="bank-item">
                    <img src={% static "src/images/banks/nbs.svg" %} alt="НБС-Банк" class="bank-logo">
                </div>

                <!-- СДМ-Банк -->
                <div class="bank-item">
                    <img src={% static "src/images/banks/sdm.png" %} alt="СДМ-Банк" class="bank-logo">
                </div>

                <!-- Газпромбанк -->
                <div class="bank-item">
                    <img src="https://toplogos.ru/images/thumbs/preview-logo-gazprombank.png" alt="Газпромбанк" class="bank-logo">
                </div>
                
                <!-- Тинькофф -->
                <div class="bank-item">
                    <img src="https://toplogos.ru/images/thumbs/preview-logo-tbank.png" alt="Тинькофф" class="bank-logo">
                </div>
                
                <!-- Совкомбанк -->
                <div class="bank-item">
                    <img src="https://toplogos.ru/images/thumbs/preview-logo-sovkombank.jpg" alt="Совкомбанк" class="bank-logo">
                </div>
                
                <!-- Промсвязьбанк -->
                <div class="bank-item">
                    <img src="https://toplogos.ru/images/thumbs/preview-logo-promsvyazbank.png" alt="Промсвязьбанк" class="bank-logo">
                </div>
                
                <!-- Уралсиб -->
                <div class="bank-item">
                    <img src="https://toplogos.ru/images/thumbs/preview-logo-uralsib.jpg" alt="Уралсиб" class="bank-logo">
                </div>
                
                <!-- Ак Барс -->
                <div class="bank-item">
                    <img src="https://toplogos.ru/images/thumbs/preview-logo-ak-bars-bank.jpg" alt="Ак Барс" style="width: 130px; height: auto;" class="bank-logo">
                </div>
                
                <!-- Банк Санкт-Петербург -->
                <div class="bank-item">
                    <img src="https://toplogos.ru/images/thumbs/preview-logo-bank-sankt-peterburg.png" alt="Банк Санкт-Петербург" class="bank-logo">
                </div>
                
                <!-- МКБ -->
                <div class="bank-item">
                    <img src="https://toplogos.ru/images/thumbs/preview-logo-mkb.png" alt="МКБ" class="bank-logo">
                </div>
                
                <!-- Новикомбанк -->
                <div class="bank-item">
                    <img src="https://toplogos.ru/images/thumbs/preview-logo-novikombank.png" alt="Новикомбанк" class="bank-logo">
                </div>
                
                <!-- Абсолют Банк -->
                <div class="bank-item">
                    <img src="https://toplogos.ru/images/thumbs/preview-logo-absolyut-bank.png" alt="Абсолют Банк" class="bank-logo">
                </div>
                
                <!-- Металлинвестбанк -->
                <div class="bank-item">
                    <img src="https://toplogos.ru/images/thumbs/preview-logo-metallinvestbank.png" alt="Металлинвестбанк" class="bank-logo">
                </div>
                
                <!-- Экспобанк -->
                <div class="bank-item">
                    <img src="https://toplogos.ru/images/thumbs/preview-logo-expobank.png" alt="Экспобанк" class="bank-logo">
                </div>
                
                <!-- Локо-Банк -->
                <div class="bank-item">
                    <img src="https://toplogos.ru/images/thumbs/preview-logo-loko-bank.png" alt="Локо-Банк" style="width: 130px; height: auto;" class="bank-logo">
                </div>
                
                <!-- Райффайзен -->
                <div class="bank-item">
                    <img src="https://toplogos.ru/images/thumbs/preview-logo-raiffeisen-bank.jpg" alt="Райффайзен" class="bank-logo">
                </div>
                
                <!-- Дублируем тот же набор банков для бесшовной прокрутки -->
                 <!-- Сбербанк -->
                <div class="bank-item">
                    <img src="https://toplogos.ru/images/thumbs/preview-logo-sber.png" alt="Сбербанк" class="bank-logo">
                </div>
                
                <!-- ВТБ -->
                <div class="bank-item">
                    <img src="https://toplogos.ru/images/thumbs/preview-logo-vtb.png" alt="ВТБ" style="width: 130px; height: auto;" class="bank-logo">
                </div>
                
                <!-- Альфа-Банк -->
                <div class="bank-item">
                    <img src="https://toplogos.ru/images/thumbs/preview-logo-alfa-bank.jpg" alt="Альфа-Банк" class="bank-logo">
                </div>
                
                <!-- Инго-Банк -->
                <div class="bank-item">
                    <img src={% static "src/images/banks/ingo.png" %} alt="Инго-Банк" style="width: 130px; height: auto;"  class="bank-logo">
                </div>

                <!-- Хлынов-Банк -->
                <div class="bank-item">
                    <img src={% static "src/images/banks/hlyn.svg" %} alt="Хлынов-Банк" class="bank-logo">
                </div>

                <!-- ББР-Банк -->
                <div class="bank-item">
                    <img src={% static "src/images/banks/bbr.png" %} alt="ББР-Банк" class="bank-logo">
                </div>

                <!-- НБС-Банк -->
                <div class="bank-item">
                    <img src={% static "src/images/banks/nbs.svg" %} alt="НБС-Банк" class="bank-logo">
                </div>

                <!-- СДМ-Банк -->
                <div class="bank-item">
                    <img src={% static "src/images/banks/sdm.png" %} alt="СДМ-Банк" class="bank-logo">
                </div>

                <!-- Газпромбанк -->
                <div class="bank-item">
                    <img src="https://toplogos.ru/images/thumbs/preview-logo-gazprombank.png" alt="Газпромбанк" class="bank-logo">
                </div>
                
                <!-- Тинькофф -->
                <div class="bank-item">
                    <img src="https://toplogos.ru/images/thumbs/preview-logo-tbank.png" alt="Тинькофф" class="bank-logo">
                </div>
                
                <!-- Совкомбанк -->
                <div class="bank-item">
                    <img src="https://toplogos.ru/images/thumbs/preview-logo-sovkombank.jpg" alt="Совкомбанк" class="bank-logo">
                </div>
                
                <!-- Промсвязьбанк -->
                <div class="bank-item">
                    <img src="https://toplogos.ru/images/thumbs/preview-logo-promsvyazbank.png" alt="Промсвязьбанк" class="bank-logo">
                </div>
                
                <!-- Уралсиб -->
                <div class="bank-item">
                    <img src="https://toplogos.ru/images/thumbs/preview-logo-uralsib.jpg" alt="Уралсиб" class="bank-logo">
                </div>
                
                <!-- Ак Барс -->
                <div class="bank-item">
                    <img src="https://toplogos.ru/images/thumbs/preview-logo-ak-bars-bank.jpg" alt="Ак Барс" style="width: 130px; height: auto;" class="bank-logo">
                </div>
                
                <!-- Банк Санкт-Петербург -->
                <div class="bank-item">
                    <img src="https://toplogos.ru/images/thumbs/preview-logo-bank-sankt-peterburg.png" alt="Банк Санкт-Петербург" class="bank-logo">
                </div>
                
                <!-- МКБ -->
                <div class="bank-item">
                    <img src="https://toplogos.ru/images/thumbs/preview-logo-mkb.png" alt="МКБ" class="bank-logo">
                </div>
                
                <!-- Новикомбанк -->
                <div class="bank-item">
                    <img src="https://toplogos.ru/images/thumbs/preview-logo-novikombank.png" alt="Новикомбанк" class="bank-logo">
                </div>
                
                <!-- Абсолют Банк -->
                <div class="bank-item">
                    <img src="https://toplogos.ru/images/thumbs/preview-logo-absolyut-bank.png" alt="Абсолют Банк" class="bank-logo">
                </div>
                
                <!-- Металлинвестбанк -->
                <div class="bank-item">
                    <img src="https://toplogos.ru/images/thumbs/preview-logo-metallinvestbank.png" alt="Металлинвестбанк" class="bank-logo">
                </div>
                
                <!-- Экспобанк -->
                <div class="bank-item">
                    <img src="https://toplogos.ru/images/thumbs/preview-logo-expobank.png" alt="Экспобанк" class="bank-logo">
                </div>
                
                <!-- Локо-Банк -->
                <div class="bank-item">
                    <img src="https://toplogos.ru/images/thumbs/preview-logo-loko-bank.png" alt="Локо-Банк" style="width: 130px; height: auto;" class="bank-logo">
                </div>
                
                <!-- Райффайзен -->
                <div class="bank-item">
                    <img src="https://toplogos.ru/images/thumbs/preview-logo-raiffeisen-bank.jpg" alt="Райффайзен" class="bank-logo">
                </div>
                
            </div>
        </div>
        
    </div>
</section>