{% load static %}

<section class="mb-6">
    <div class="text-center mb-5">
        <h2 class="text-orange text-uppercase fw-bold mb-3">Банки-партнёры</h2>
        <p class="text-muted" style="text-align: justify; font-size: 18px; text-indent: 1.5em;">Мы выстраиваем долгосрочное и взаимовыгодное партнерство с ведущими финансовыми учреждениями России, что позволяет нам предлагать клиентам наиболее выгодные и разнообразные условия по всем финансовым продуктам. Нашими партнерами являются банки из топ-50 рейтинга Центрального Банка РФ, включая системообразующие кредитные организации и узкоспециализированные финансовые институты. Это сотрудничество обеспечивает нам доступ к широкой линейке банковских продуктов и возможность подбирать оптимальные решения для каждого клиента.</p>
    </div>
    
    <div class="bg-white rounded-3 shadow-sm p-3">
        <div class="banks-carousel-container">
            <div class="banks-carousel-track">
                <!-- Все банки в одной линии для бесконечной прокрутки -->
                <div class="bank-item">
                    <img src={% static "src/icon/sberbank.svg" %} alt="Сбербанк" class="bank-logo">
                </div>
                <div class="bank-item">
                    <img src= {% static "src/icon/vtb.svg" %} alt="ВТБ" class="bank-logo">
                </div>
                <div class="bank-item">
                    <img src={% static "src/icon/gazprombank.svg" %} alt="Газпромбанк" class="bank-logo">
                </div>
                <div class="bank-item">
                    <img src={% static "src/icon/alfabank.svg" %} alt="Альфа-Банк" class="bank-logo">
                </div>
                <div class="bank-item">
                    <img src={% static "src/icon/raiffeisen.svg" %} alt="Райффайзен" class="bank-logo">
                </div>
                <div class="bank-item">
                    <img src={% static "src/icon/rshb.svg" %} alt="Россельхозбанк" class="bank-logo">
                </div>
                <div class="bank-item">
                    <img src={% static "src/icon/open.svg" %} alt="Открытие" class="bank-logo">
                </div>
                <div class="bank-item">
                    <img src={% static "src/icon/psbank.svg" %} alt="Промсвязьбанк" class="bank-logo">
                </div>
                <div class="bank-item">
                    <img src={% static "src/icon/sovcombank.svg" %} alt="Совкомбанк" class="bank-logo">
                </div>
                <div class="bank-item">
                    <img src={% static "src/icon/tbank.svg" %} alt="Тинькофф" class="bank-logo">
                </div>
                <div class="bank-item">
                    <img src={% static "src/icon/realistbank.svg" %} alt="Возрождение" class="bank-logo">
                </div>
                <div class="bank-item">
                    <img src={% static "src/icon/uralsib.svg" %} alt="Уралсиб" class="bank-logo">
                </div>
                <div class="bank-item">
                    <img src={% static "src/icon/akbars.svg" %} alt="Ак Барс" class="bank-logo">
                </div>
                <div class="bank-item">
                    <img src={% static "src/icon/bspb.svg" %} alt="Банк Санкт-Петербург" class="bank-logo">
                </div>
                <div class="bank-item">
                    <img src={% static "src/icon/mkb.svg" %} alt="Московский Кредитный Банк" class="bank-logo">
                </div>
                <div class="bank-item">
                    <img src={% static "src/icon/rusnarbank.svg" %} alt="Банк Россия" class="bank-logo">
                </div>
                <div class="bank-item">
                    <img src={% static "src/icon/absolutbank.svg" %} alt="Абсолют Банк" class="bank-logo">
                </div>
                <div class="bank-item">
                    <img src={% static "src/icon/avangard.svg" %} alt="Авангард" class="bank-logo">
                </div>
                <div class="bank-item">
                    <img src={% static "src/icon/centrinvest.svg" %} alt="Центр-Инвест" class="bank-logo">
                </div>
                <div class="bank-item">
                    <img src={% static "src/icon/expobank.svg" %} alt="Экспобанк" class="bank-logo">
                </div>
                <div class="bank-item">
                    <img src={% static "src/icon/genbank.svg" %} alt="Генбанк" class="bank-logo">
                </div>
                <div class="bank-item">
                    <img src={% static "src/icon/homecredit.svg" %} alt="Хоум Кредит" class="bank-logo">
                </div>
                <div class="bank-item">
                    <img src={% static "src/icon/lockobank.svg" %} alt="Локо-Банк" class="bank-logo">
                </div>
                <div class="bank-item">
                    <img src={% static "src/icon/mtcfinance.svg" %} alt="МТС Банк" class="bank-logo">
                </div>
                <div class="bank-item">
                    <img src={% static "src/icon/norvikbank.svg" %} alt="Норвик" class="bank-logo">
                </div>
                <div class="bank-item">
                    <img src={% static "src/icon/pochtabank.svg" %} alt="Почта Банк" class="bank-logo">
                </div>
                <div class="bank-item">
                    <img src={% static "src/icon/psbank.svg" %} alt="Промсвязьбанк" class="bank-logo">
                </div>
                <div class="bank-item">
                    <img src={% static "src/icon/qiwibank.svg" %} alt="Киви Банк" class="bank-logo">
                </div>
                <div class="bank-item">
                    <img src={% static "src/icon/rosbank.svg" %} alt="Росбанк" class="bank-logo">
                </div>
                
                <!-- Дубликаты для бесшовной прокрутки -->
                <div class="bank-item">
                    <img src={% static "src/icon/sberbank.svg" %} alt="Сбербанк" class="bank-logo">
                </div>
                <div class="bank-item">
                    <img src={% static "src/icon/vtb.svg" %} alt="ВТБ" class="bank-logo">
                </div>
                <div class="bank-item">
                    <img src={% static "src/icon/gazprombank.svg" %} alt="Газпромбанк" class="bank-logo">
                </div>
                <div class="bank-item">
                    <img src={% static "src/icon/alfabank.svg" %} alt="Альфа-Банк" class="bank-logo">
                </div>
                <div class="bank-item">
                    <img src={% static "src/icon/raiffeisen.svg" %} alt="Райффайзен" class="bank-logo">
                </div>
            </div>
        </div>
    </div>
</section>