{% load static %}

<section class="mb-6">
    <div class="text-center mb-5">
        <h2 class="text text-uppercase fw-bold mb-3">Банки-партнёры</h2>
        <p class="text-muted" style="text-align: justify; font-size: 18px; text-indent: 1.5em;">Мы выстраиваем долгосрочное и взаимовыгодное партнерство с ведущими финансовыми учреждениями России, что позволяет нам предлагать клиентам наиболее выгодные и разнообразные условия по всем финансовым продуктам. Это сотрудничество обеспечивает нам доступ к широкой линейке банковских продуктов и возможность подбирать оптимальные решения для каждого клиента.</p>
    </div>
    
    <div class="bg-white rounded-3 shadow-sm p-3">
        <div class="banks-carousel-container">
            <div class="banks-carousel-track">
                <!-- Все банки в одной линии для бесконечной прокрутки -->
                
                <div class="bank-item">
                    {% comment %} <img src= {% static "src/icon/vtb.svg" %} alt="ВТБ" class="bank-logo"> {% endcomment %}
                    <a href="https://toplogos.ru/logo-vtb/" target="_blank"><img src="https://toplogos.ru/images/thumbs/preview-logo-vtb.png"  alt="Логотип ВТБ" class="bank-logo1"/></a>
                </div>
                <div class="bank-item">
                    {% comment %} <img src={% static "src/icon/gazprombank.svg" %} alt="Газпромбанк" class="bank-logo"> {% endcomment %}
                    <a href="https://toplogos.ru/logo-gazprombank/" target="_blank"><img src="https://toplogos.ru/images/thumbs/preview-logo-gazprombank.png"  alt="Логотип Газпромбанк" class="bank-logo"/></a>
                </div>
                <div class="bank-item">
                    {% comment %} <img src={% static "src/icon/alfabank.svg" %} alt="Альфа-Банк" class="bank-logo"> {% endcomment %}
                    <a href="https://toplogos.ru/logo-alfa-bank/" target="_blank"><img src="https://toplogos.ru/images/thumbs/preview-logo-alfa-bank.jpg"  alt="Логотип Альфа-Банк" class="bank-logo"/></a>
                </div>

                


                <div class="bank-item">
                    {% comment %} <img src={% static "src/icon/psbank.svg" %} alt="Промсвязьбанк" class="bank-logo"> {% endcomment %}
                    <a href="https://toplogos.ru/logo-promsvyazbank/" target="_blank"><img src="https://toplogos.ru/images/thumbs/preview-logo-promsvyazbank.png"  alt="Логотип Промсвязьбанк" class="bank-logo"/></a>
                </div>
                <div class="bank-item">
                    {% comment %} <img src={% static "src/icon/sovcombank.svg" %} alt="Совкомбанк" class="bank-logo"> {% endcomment %}
                    <a href="https://toplogos.ru/logo-sovkombank/" target="_blank"><img src="https://toplogos.ru/images/thumbs/preview-logo-sovkombank.jpg"  alt="Логотип Совкомбанк" class="bank-logo"/></a>
                </div>
                

                <div class="bank-item">
                    {% comment %} <img src={% static "src/icon/uralsib.svg" %} alt="Уралсиб" class="bank-logo"> {% endcomment %}
                    <a href="https://toplogos.ru/logo-uralsib/" target="_blank"><img src="https://toplogos.ru/images/thumbs/preview-logo-uralsib.jpg"  alt="Логотип Uralsib" class="bank-logo" /></a>
                </div>

                <div class="bank-item">
                    <img src={% static "src/icon/akcept.jpg" %} alt="Акцепт Банк" class="bank-logo1">
                </div>

                <div class="bank-item">
                    {% comment %} <img src={% static "src/icon/akbars.svg" %} alt="Ак Барс" class="bank-logo"> {% endcomment %}
                    <a href="https://toplogos.ru/logo-ak-bars-bank/" target="_blank"><img src="https://toplogos.ru/images/thumbs/preview-logo-ak-bars-bank.jpg"  alt="Логотип Ак Барс Банк" class="bank-logo1"/></a>
                </div>

                <div class="bank-item">
                    <img src={% static "src/icon/derzhava.jpg" %} alt="Держава Банк" class="bank-logo1">
                </div>

                <div class="bank-item">
                    {% comment %} <img src={% static "src/icon/bspb.svg" %} alt="Банк Санкт-Петербург" class="bank-logo"> {% endcomment %}
                    <a href="https://toplogos.ru/logo-bank-sankt-peterburg/" target="_blank"><img src="https://toplogos.ru/images/thumbs/preview-logo-bank-sankt-peterburg.png"  alt="Логотип Банк Санкт-Петербург" class="bank-logo"/></a>
                </div>

                <div class="bank-item">
                    <img src={% static "src/icon/realistbank.jpg" %} alt="Реалист Банк" class="bank-logo1">
                </div>


                <div class="bank-item">
                    {% comment %} <img src={% static "src/icon/tbank.svg" %} alt="Тинькофф" class="bank-logo"> {% endcomment %}
                    <a href="https://toplogos.ru/logo-tbank/" target="_blank"><img src="https://toplogos.ru/images/thumbs/preview-logo-tbank.png"  alt="Логотип Т-Банк" class="bank-logo"/></a>
                </div>
                <div class="bank-item">
                    {% comment %} <img src={% static "src/icon/mkb.svg" %} alt="Московский Кредитный Банк" class="bank-logo"> {% endcomment %}
                    <a href="https://toplogos.ru/logo-mkb/" target="_blank"><img src="https://toplogos.ru/images/thumbs/preview-logo-mkb.png"  alt="Логотип МКБ" class="bank-logo" /></a>
                </div>
                <div class="bank-item">
                    {% comment %} <img src={% static "src/icon/novikom.svg" %} alt="Новиком Банк" class="bank-logo"> {% endcomment %}
                    <a href="https://toplogos.ru/logo-novikombank/" target="_blank"><img src="https://toplogos.ru/images/thumbs/preview-logo-novikombank.png"  alt="Логотип Новикомбанк" class="bank-logo" /></a>
                </div>

                <div class="bank-item">
                    <img src={% static "src/icon/bbr.png" %} alt="ББР Банк" class="bank-logo1">
                </div>

                <div class="bank-item">
                    {% comment %} <img src={% static "src/icon/sberbank.svg" %} alt="Сбербанк" class="bank-logo"> {% endcomment %}
                    <a href="https://toplogos.ru/logo-sber/" target="_blank"><img src="https://toplogos.ru/images/thumbs/preview-logo-sber.png"  alt="Сбербанк" class="bank-logo" /></a>
                </div>
   
                <div class="bank-item">
                    {% comment %} <img src={% static "src/icon/absolutbank.svg" %} alt="Абсолют Банк" class="bank-logo"> {% endcomment %}
                    <a href="https://toplogos.ru/logo-absolyut-bank/" target="_blank"><img src="https://toplogos.ru/images/thumbs/preview-logo-absolyut-bank.png"  alt="Логотип Абсолют Банк" class="bank-logo" /></a>
                </div>

                
                
                
                
                <div class="bank-item">
                    <img src={% static "src/icon/ingobank.png" %} alt="Инго Банк" class="bank-logo1">
                </div>
                <div class="bank-item">
                    <img src={% static "src/icon/mspbank.png" %} alt="МСП Банк" class="bank-logo1">
                    {% comment %} <a href="https://toplogos.ru/logo-msp-bank/" target="_blank"><img src="https://toplogos.ru/images/thumbs/preview-logo-msp-bank.png"  alt="Логотип МСП Банк" class="bank-logo"/></a> {% endcomment %}
                </div>
                <div class="bank-item">
                    <img src={% static "src/icon/hlynov.png" %} alt="Хлынов Банк" class="bank-logo">
                </div>
                <div class="bank-item">
                    <img src={% static "src/icon/zenit.png" %} alt="Зенит Банк" class="bank-logo1">
                    {% comment %} <a href="https://toplogos.ru/logo-bank-zenit/" target="_blank"><img src="https://toplogos.ru/images/thumbs/preview-logo-bank-zenit.png"  alt="Логотип Банк Зенит" class="bank-logo" /></a> {% endcomment %}
                </div>

                <div class="bank-item">
                    <img src={% static "src/icon/sdm.png" %} alt="СДМ Банк" class="bank-logo">
                </div>
                <div class="bank-item">
                    {% comment %} <img src={% static "src/icon/metallinvestbank.svg" %} alt="Металлинвест Банк" class="bank-logo"> {% endcomment %}
                    <a href="https://toplogos.ru/logo-metallinvestbank/" target="_blank"><img src="https://toplogos.ru/images/thumbs/preview-logo-metallinvestbank.png"  alt="Логотип Металлинвестбанк" class="bank-logo" /></a>
                </div>
                <div class="bank-item">
                    <img src={% static "src/icon/rusnarbank.jpg" %} alt="Руснар Банк" class="bank-logo1">
                </div>

                <div class="bank-item">
                    <img src={% static "src/icon/nskbl.svg" %} alt="Левобережный Банк" class="bank-logo1">
                </div>
                <div class="bank-item">
                    {% comment %} <img src={% static "src/icon/expobank.svg" %} alt="Экспобанк" class="bank-logo"> {% endcomment %}
                    <a href="https://toplogos.ru/logo-expobank/" target="_blank"><img src="https://toplogos.ru/images/thumbs/preview-logo-expobank.png"  alt="Логотип Экспобанк" class="bank-logo" /></a>
                </div>


                <div class="bank-item">
                    {% comment %} <img src={% static "src/icon/lockobank.svg" %} alt="Локо-Банк" class="bank-logo"> {% endcomment %}
                    <a href="https://toplogos.ru/logo-loko-bank/" target="_blank"><img src="https://toplogos.ru/images/thumbs/preview-logo-loko-bank.png"  alt="Логотип Локо-Банк" class="bank-logo" /></a>
                </div>

                
                <div class="bank-item">
                    <img src={% static "src/icon/nbsrf.svg" %} alt="Национальный Банк Сбережений" class="bank-logo1">
                    {% comment %} <a href="https://toplogos.ru/logo-nbs/" target="_blank"><img src="https://toplogos.ru/images/thumbs/preview-logo-nbs.png"  alt="Логотип Национальный Банк Сбережений"  class="bank-logo"/></a> {% endcomment %}
                </div>


                <div class="bank-item">
                    {% comment %} <img src={% static "src/icon/psbank.svg" %} alt="Промсвязьбанк" class="bank-logo"> {% endcomment %}
                    <a href="https://toplogos.ru/logo-promsvyazbank/" target="_blank"><img src="https://toplogos.ru/images/thumbs/preview-logo-promsvyazbank.png"  alt="Логотип Промсвязьбанк" class="bank-logo"/></a>
                </div>

  
                
                <!-- Дубликаты для бесшовной прокрутки -->
                <div class="bank-item">
                    {% comment %} <img src={% static "src/icon/sberbank.svg" %} alt="Сбербанк" class="bank-logo"> {% endcomment %}
                     <a href="https://toplogos.ru/logo-sber/" target="_blank"><img src="https://toplogos.ru/images/thumbs/preview-logo-sber.png"  alt="Сбербанк" class="bank-logo" /></a>
                </div>
                <div class="bank-item">
                    {% comment %} <img src={% static "src/icon/vtb.svg" %} alt="ВТБ" class="bank-logo"> {% endcomment %}
                    <a href="https://toplogos.ru/logo-vtb/" target="_blank"><img src="https://toplogos.ru/images/thumbs/preview-logo-vtb.png"  alt="Логотип ВТБ" class="bank-logo"></a>
                </div>
                <div class="bank-item">
                    {% comment %} <img src={% static "src/icon/gazprombank.svg" %} alt="Газпромбанк" class="bank-logo"> {% endcomment %}
                    <a href="https://toplogos.ru/logo-gazprombank/" target="_blank"><img src="https://toplogos.ru/images/thumbs/preview-logo-gazprombank.png"  alt="Логотип Газпромбанк" class="bank-logo"></a>
                </div>
                <div class="bank-item">
                    {% comment %} <img src={% static "src/icon/alfabank.svg" %} alt="Альфа-Банк" class="bank-logo"> {% endcomment %}
                    <a href="https://toplogos.ru/logo-alfa-bank/" target="_blank"><img src="https://toplogos.ru/images/thumbs/preview-logo-alfa-bank.jpg"  alt="Логотип Альфа-Банк" class="bank-logo" /></a>

                </div>
                <div class="bank-item">
                    {% comment %} <img src={% static "src/icon/raiffeisen.svg" %} alt="Райффайзен" class="bank-logo"> {% endcomment %}
                    <a href="https://toplogos.ru/logo-raiffeisen-bank/" target="_blank"><img src="https://toplogos.ru/images/thumbs/preview-logo-raiffeisen-bank.jpg"  alt="Логотип Raiffeisen Bank" class="bank-logo"/></a>
                </div>
            </div>
        </div>
    </div>
</section>