{% block content %}

{% load static %}

<main class="container my-5">
        <!-- Hero Section -->
        <section class="row align-items-center mb-6">
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold text-dark mb-4" style="text-align:left">
                   Банковские гарантии и кредиты<br>
                    <span class="text-orange">для бизнеса</span>
                </h1>
                <p class="lead text-muted mb-4"style="text-align:left">
                    Фабрика банковских продуктов - команда экспертов по банковским гарантиям, 
                    кредитам и лизингу. 
                    Помогаем бизнесу развиваться 
                    c 2015  года.
                    
                </p>
                <div class="d-flex gap-3">
                    <a href="#services" class="btn btn-orange btn-lg px-4">
                        Услуги
                    </a>
                    <a href="#contacts" class="btn btn-outline-orange btn-lg px-4">
                        Консультация
                    </a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class=" text-center">
                    <img src={% static "src/images/masha_w.jpeg" %} style="width: 400px; height: 400px; object-fit: cover; border-radius: 0.1rem;"> 
                    {% comment %} <img src={% static "src/images/pinup2.png" %} style="width: 400px; height: 400px; object-fit: cover; border-radius: 0.1rem;">           {% endcomment %}
                </div>
            </div>
        </section>


{% endblock content %}