{% extends 'base.html' %}
{% load static %}

{% block content %}


    {% include "src/hero_section.html" %}
    {% include "src/services.html" %}    
    {% include "src/stats.html" %}
    {% comment %} {% include "src/banks_partners_block.html" %}
    {% include "src/organizations_partners_block.html" %} {% endcomment %}
    {% include "src/banks_block.html" %}
    {% include "src/stats_2.html" %}
    {% include "src/questions.html" %}
    {% include "contacts.html" %}
    

{% endblock content %}
