<section class="bg-light rounded-2 p-5 mb-6">
    <div class="row text-center">
        <div class="col-md-2">
            <h3 class="text-orange fw-bold">11+</h3>
            <p class="text-muted mb-0">Лет на рынке</p>
            <br>
        </div>
        <div class="col-md-3">
            <h3 class="text-orange fw-bold">6000+</h3>
            <p class="text-muted mb-0">Клиентов юридических лиц</p>
            <br>
        </div>
        <div class="col-md-2">
            <h3 class="text-orange fw-bold">98,5%</h3>
            <p class="text-muted mb-0">Процент одобрений</p>
            <br>
        </div>
        <div class="col-md-3">
            <h3 class="text-orange fw-bold">ТОП-6</h3>
            <p class="text-muted mb-0">Агент по рейтингу банков</p>
            <br>
        </div>

        

        <div class="col-md-2">
            <h3 class="text-orange fw-bold">100+</h3>
            <p class="text-muted mb-0">Банков</p>
            <br>
        </div>
    </div>
</section>