<section class="bg-light rounded-3 p-5 mb-6">
    <div class="row text-center">
        <div class="col-md-4">
            <h3 class="text-orange fw-bold">Удаленная работа</h3>
            <p class="text-muted mb-0">Решим вашу задачу без визита в офис</p>
            <br>
        </div>
        <div class="col-md-4">
            <h3 class="text-orange fw-bold">Профессионализм</h3>
            <p class="text-muted mb-0">Быстрота и эффективность рассмотрения каждой заявки</p>
            <br>
        </div>
        <div class="col-md-4">
            <h3 class="text-orange fw-bold">Индивидуальный подход</h3>
            <p class="text-muted mb-0">Финансовая экспертиза высшего уровня</p>
            <br>
        </div>

    </div>
</section>