<section class="bg-light rounded-3 p-5 mb-6">
    <div class="row text-center">
        <h2 class="text text-uppercase fw-bold mb-3">Преимущества работы с нами</h2>
        <p>   </p>
        <br>
        <br>
        {% comment %} <div class="col-md-4">
            <h3 class="text-orange fw-bold">Единый провайдер</h3>
            <p class="text-muted mb-0">для удовлетворения всех текущих и перспективных финансовых потребностей бизнеса</p>
            <br>
        </div>
        <div class="col-md-4">
            <h3 class="text-orange fw-bold">Синергетический эффект</h3>
            <p class="text-muted mb-0">от комбинирования различных финансовых инструментов</p>
            <br>
        </div>
        <div class="col-md-4">
            <h3 class="text-orange fw-bold">Сокращение затрат</h3>
            <p class="text-muted mb-0">на комплексную организацию и сопровождение финансирования предприятия</p>
            <br>
        </div>
        <div class="col-md-4">
            <h3 class="text-orange fw-bold">Экспертный подбор</h3>
            <p class="text-muted mb-0">оптимальных решений под конкретные стратегические и операционные бизнес-задачи</p>
            <br>
        </div>
        <div class="col-md-4">
            <h3 class="text-orange fw-bold">Сопровождение</h3>
            <p class="text-muted mb-0">на всех этапах реализации и сопровождения финансовых проектов</p>
            <br>
        </div>
        <div class="col-md-4">
            <h3 class="text-orange fw-bold">Постоянный мониторинг</h3>
            <p class="text-muted mb-0">изменений в законодательстве и текущих  рыночных условий</p>
            <br>
        </div> {% endcomment %}
        <div class="col-md-4">
            <h3 class="text-orange fw-bold">Экспертный подбор</h3>
            <p class="text-muted mb-0">Проводим аудит показателей деятельности вашего бизнеса на соответствие требованиям банка.
                Предоставляем рекомендации по по их улучшению.
                Находим решение.</p>
            <br>
        </div>
        <div class="col-md-4">
            <h3 class="text-orange fw-bold">Сокращение затрат</h3>
            <p class="text-muted mb-0">Снижение административной нагрузки за счет полного сопровождения процесса. 
            Экономим время и уменьшаем трудозатраты для вашего экономического отдела.</p>
            <br>
        </div>
        <div class="col-md-4">
            <h3 class="text-orange fw-bold">Решение нестандартных задач</h3>
            <p class="text-muted mb-0">Помогаем получить решение даже в сложных случаях.</p>
            <br>
        </div>

    </div>
</section>