{% extends 'base.html' %}
{% load static %}

{% block content %}

<main class="container my-5">
        <!-- Hero Section -->
        <section class="row align-items-center mb-6">
            <div class="col-lg-6">
                <h1 class="display-4 fw-bold text-dark mb-4">
                    Оборудование<br>
                    <span class="text-orange">для задач в разных отраслях</span>
                </h1>
                <p class="lead text-muted mb-4">
                    
                </p>
                <div class="d-flex gap-3">
                    <a href="#services" class="btn btn-orange btn-lg px-4">
                        Лизинг
                    </a>
                    <a href="#contacts" class="btn btn-outline-orange btn-lg px-4">
                        Консультация
                    </a>
                </div>
            </div>
            <br>
            <div class="col-lg-6">
                <div class="bg-light rounded-2 p-2 text-center">
                    <img src={% static "src/images/pig_11.jpg" %} style="width: 100%; height: 100%; object-fit: cover; border-radius: 0.1rem;">         
                </div>
            </div>
        </section>


        <section id="services" class="mb-6">
            <div class="text-center mb-5">
                <h2 class="text-orange text-uppercase fw-bold mb-3">Лизинг оборудования</h2>
                <p class="text-muted" style="text-align: justify; font-size: 18px; text-indent: 1.5em;">
                    Лизинг оборудования: модернизация производственных мощностей предприятия.
                    Лизинг оборудования представляет собой эффективный финансовый инструмент для обновления и расширения производственной базы предприятий различных отраслей промышленности. Данная услуга позволяет компаниям внедрять современные технологические решения без значительных единовременных капиталовложений. Особую актуальность лизинг приобретает при необходимости быстрого реагирования на changing рыночные условия и технологические вызовы. Наша компания предлагает комплексные лизинговые решения для различных категорий оборудования - от станков и производственных линий до вычислительной техники и медицинского оборудования.
                </p>
            </div>       
        </section>

        <section class="bg-light rounded-3 p-5 mb-6">
            <div class="row text-center">
                <div class="col-md-4">
                    <h3 class="text-orange fw-bold">Технологии </h3>
                    <p class="text-muted mb-0" style="font-size: 18px;">ускоренного перевооружение производственных мощностей</p>
                    <br>
                </div>
                <div class="col-md-4">
                    <h3 class="text-orange fw-bold"> Возможность </h3>
                    <p class="text-muted mb-0" style="font-size: 18px;"> поэтапного обновления материально-технической базы</p>
                    <br>
                </div>
                <div class="col-md-4">
                    <h3 class="text-orange fw-bold"> Снижение рисков </h3>
                    <p class="text-muted mb-0" style="font-size: 18px;"> морального старения используемого оборудования</p>
                    <br>
                </div>
            </div>
        </section>


        
{% include "contacts.html" %}

{% endblock content %}