{% extends 'base.html' %}
{% load static %}

{% block content %}

<main class="container my-5">
        <!-- Hero Section -->
        <section class="row align-items-center mb-6">
            <div class="col-lg-6">
                <h1 class="display-4 fw-bold text-dark mb-4">
                    Банки<br>
                    <span class="text-orange">партнеры</span>
                </h1>
                <p class="lead text-muted mb-4">
                    
                </p>
                <div class="d-flex gap-3">
                    <a href="#services" class="btn btn-orange btn-lg px-4">
                       Преимущества
                    </a>
                    <a href="#contacts" class="btn btn-outline-orange btn-lg px-4">
                        Консультация
                    </a>
                </div>
            </div>
            <br>
            <div class="col-lg-6">
                <div class="bg-light rounded-2 p-2 text-center">
                    <img src={% static "src/images/pig_6.jpg" %} style="width: 100%; height: 100%; object-fit: cover; border-radius: 0.1rem;">         
                </div>
            </div>
        </section>

        

{% include "src/banks_block.html" %}       


        <section  id="services" class="bg-light rounded-3 p-5 mb-6">
            <div class="text-center mb-5">
                <h2 class="text text-uppercase fw-bold mb-3">Преимущества</h2>
                <p class="text-muted" style="text-align: justify; font-size: 18px; text-indent: 1.5em;">Мы постоянно расширяем пул банков-партнеров и совершенствуем условия сотрудничества, чтобы предлагать нашим клиентам наиболее конкурентоспособные и современные финансовые продукты на рынке.</p>
            </div>

            <div class="row text-center">
                <div class="col-md-4">
                    <h3 class="text-orange fw-bold">Специальные условия</h3>
                    <p class="text-muted mb-0">и эксклюзивные программы финансирования</p>
                    <br>
                </div>
                <div class="col-md-4">
                    <h3 class="text-orange fw-bold">Возможность выбора</h3>
                    <p class="text-muted mb-0">из 130+ проверенных банков-партнеров и финансовых организаций</p>
                    <br>
                </div>
                <div class="col-md-4">
                    <h3 class="text-orange fw-bold">Сокращенные сроки</h3>
                    <p class="text-muted mb-0">рассмотрения заявок за счет наработанной репутации</p>
                    <br>
                </div>
                <div class="col-md-4">
                    <h3 class="text-orange fw-bold">Приоритет обслуживания</h3>
                    <p class="text-muted mb-0">наших клиентов в банках-партнерах</p>
                    <br>
                </div>
                <div class="col-md-4">
                    <h3 class="text-orange fw-bold">Гибкость выбора</h3>
                    <p class="text-muted mb-0">от классических решений до индивидуальных схем работы</p>
                    <br>
                </div>
                <div class="col-md-4">
                    <h3 class="text-orange fw-bold">Регулярный мониторинг</h3>
                    <p class="text-muted mb-0"> финансовой устойчивости партнерских банков</p>
                    <br>
                </div>
                
            </div>
        </section>



{% include "contacts.html" %}

{% endblock content %}
