{% extends 'base.html' %}
{% load static %}

{% block content %}

<main class="container my-5">
        <!-- Hero Section -->
        <section class="row align-items-center mb-6 col-12">
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold text-dark mb-4" style="text-align:left">
                   Эксперты в финансовых услугах<br>
                    <span class="text-orange">для бизнеса</span>
                </h1>
                <p class="lead text-muted mb-4"style="text-align:left">
                    Наша задача: дать решение там, где другие не смогли
                    
                </p>
                <div class="d-flex gap-3">
                    <a href="#services" class="btn btn-orange btn-lg px-4">
                        Фабрика
                    </a>
                    <a href="#contacts" class="btn btn-outline-orange btn-lg px-4">
                        Консультация
                    </a>
                </div>
            </div>
            <br>
            <div class="col-lg-6">
                <div class="text-center">
                    <img src={% static "src/images/title/i3.jpg" %} style="width: 100%; height: 100%; object-fit: cover; border-radius: 0.1rem;"> 
                    {% comment %} <img src={% static "src/images/title/i3.jpg" %} style="width: 400px; height: 400px; object-fit: scale-down; border-radius: 0.1rem;">          {% endcomment %}
                </div>
            </div>
        </section>

        <section  id="services" class="bg-light rounded-3 p-5 mb-6">
            <div class="text-center mb-5">
                <h2 class="text-orange text-uppercase fw-bold mb-3">Фабрика Банковских Продуктов</h2>
                <p class="text-muted" style="text-align: center; font-size: 18px;">Один партнер и 6 профильных услуг для минимизации финансовых и временных затрат на поиск решений для вашего бизнеса.
                    Делаем сложные банковские продукты простыми и доступными.
                    {% comment %} Наша миссия — стать надежным проводником в мире финансов, обеспечивая предпринимателей оптимальными решениями для роста и развития.
                    Наша цель — стать вашим надежным финансовым партнером, который помогает бизнесу достигать новых вершин. {% endcomment %}
                </p>
            </div>
        </section>

            {% include "src/map.html" %}


            <section  id="services" class="bg-light rounded-3 p-5 mb-6">
            <div class="row text-center">
        <h2 class="text text-uppercase fw-bold mb-3">Преимущества работы с нами</h2>
        <p>   </p>
        <br>
        <br>
        <div class="col-md-4">
            <h3 class="text-orange fw-bold">Единый провайдер</h3>
            <p class="text-muted mb-0">для удовлетворения всех текущих и перспективных финансовых потребностей бизнеса</p>
            <br>
        </div>
        <div class="col-md-4">
            <h3 class="text-orange fw-bold">Синергетический эффект</h3>
            <p class="text-muted mb-0">от комбинирования различных финансовых инструментов</p>
            <br>
        </div>
        <div class="col-md-4">
            <h3 class="text-orange fw-bold">Сокращение затрат</h3>
            <p class="text-muted mb-0">на комплексную организацию и сопровождение финансирования предприятия</p>
            <br>
        </div>
        <div class="col-md-4">
            <h3 class="text-orange fw-bold">Экспертный подбор</h3>
            <p class="text-muted mb-0">оптимальных решений под конкретные стратегические и операционные бизнес-задачи</p>
            <br>
        </div>
        <div class="col-md-4">
            <h3 class="text-orange fw-bold">Сопровождение</h3>
            <p class="text-muted mb-0">на всех этапах реализации и сопровождения финансовых проектов</p>
            <br>
        </div>
        <div class="col-md-4">
            <h3 class="text-orange fw-bold">Постоянный мониторинг</h3>
            <p class="text-muted mb-0">изменений в законодательстве и текущих  рыночных условий</p>
            <br>
        </div>
{% comment %} 
            <div class="text-center mb-5">
                <h2 class="text text-uppercase fw-bold mb-3">Ценности компании</h2>

            </div>

            <div class="row text-center">
                <div class="col-md-4">
                    <h3 class="text-orange fw-bold">Доступность </h3>
                    <p class="text-muted mb-0" style="text-align: justify; font-size: 18px;">мы говорим с клиентами на понятном языке и делаем сложные продукты простыми в использовании</p>
                    <br>
                </div>
                <div class="col-md-4">
                    <h3 class="text-orange fw-bold">Экспертиза </h3>
                    <p class="text-muted mb-0" style="text-align: justify; font-size: 18px;">глубокое знание каждого банковского продукта позволяет нам предлагать только проверенные решения</p>
                    <br>
                </div>
                <div class="col-md-4">
                    <h3 class="text-orange fw-bold">Партнерство </h3>
                    <p class="text-muted mb-0" style="text-align: justify; font-size: 18px;">мы выстраиваем долгосрочные отношения, основанные на взаимном доверии и прозрачности</p>
                    <br>
                </div>
                <div class="col-md-4">
                    <h3 class="text-orange fw-bold">Инновации </h3>
                    <p class="text-muted mb-0" style="text-align: justify; font-size: 18px;">постоянно развиваемся и ищем новые возможности для совершенствования наших услуг</p>
                    <br>
                </div>
                <div class="col-md-4">
                    <h3 class="text-orange fw-bold">Ответственность </h3>
                    <p class="text-muted mb-0" style="text-align: justify; font-size: 18px;"> несем полную ответственность за каждый рекомендованный продукт и его результат</p>
                    <br>
                </div>
                <div class="col-md-4">
                    <h3 class="text-orange fw-bold">Клиентоцентричность </h3>
                    <p class="text-muted mb-0" style="text-align: justify; font-size: 18px;">всегда ставим интересы клиента на первое место и подбираем решения под его уникальные задачи</p>
                    <br>
                </div>
            </div> {% endcomment %}
        </section>
{% comment %} 
        <section class="bg-light rounded-3 p-5 mb-6"> {% endcomment %}
    {% comment %} <div class="row text-center">
        <h2 class="text text-uppercase fw-bold mb-3">Преимущества работы с нами</h2>
        <p>   </p>
        <br>
        <br>
        <div class="col-md-4">
            <h3 class="text-orange fw-bold">Единый провайдер</h3>
            <p class="text-muted mb-0">для удовлетворения всех текущих и перспективных финансовых потребностей бизнеса</p>
            <br>
        </div>
        <div class="col-md-4">
            <h3 class="text-orange fw-bold">Синергетический эффект</h3>
            <p class="text-muted mb-0">от комбинирования различных финансовых инструментов</p>
            <br>
        </div>
        <div class="col-md-4">
            <h3 class="text-orange fw-bold">Сокращение затрат</h3>
            <p class="text-muted mb-0">на комплексную организацию и сопровождение финансирования предприятия</p>
            <br>
        </div>
        <div class="col-md-4">
            <h3 class="text-orange fw-bold">Экспертный подбор</h3>
            <p class="text-muted mb-0">оптимальных решений под конкретные стратегические и операционные бизнес-задачи</p>
            <br>
        </div>
        <div class="col-md-4">
            <h3 class="text-orange fw-bold">Сопровождение</h3>
            <p class="text-muted mb-0">на всех этапах реализации и сопровождения финансовых проектов</p>
            <br>
        </div>
        <div class="col-md-4">
            <h3 class="text-orange fw-bold">Постоянный мониторинг</h3>
            <p class="text-muted mb-0">изменений в законодательстве и текущих  рыночных условий</p>
            <br>
        </div> {% endcomment %}
        {% comment %} <div class="col-md-4">
            <h3 class="text-orange fw-bold">Экспертный подбор</h3>
            <p class="text-muted mb-0">Проводим аудит показателей деятельности вашего бизнеса на соответствие требованиям банка.
                Предоставляем рекомендации по по их улучшению.
                Находим решение.</p>
            <br>
        </div>
        <div class="col-md-4">
            <h3 class="text-orange fw-bold">Сокращение затрат</h3>
            <p class="text-muted mb-0">Снижение административной нагрузки за счет полного сопровождения процесса. 
            Экономим время и уменьшаем трудозатраты для вашего экономического отдела.</p>
            <br>
        </div>
        <div class="col-md-4">
            <h3 class="text-orange fw-bold">Решение нестандартных задач</h3>
            <p class="text-muted mb-0">Помогаем получить решение даже в сложных случаях.</p>
            <br>
        </div> {% endcomment %}

    {% comment %} </div>
</section> {% endcomment %}
{% comment %} 
            {% include "src/stats.html" %} {% endcomment %}
            
 {% include "src/banks_block.html" %}
           
            {% include "src/stats_2.html" %}
            {% include "src/organizations_partners_block.html" %}






{% include "contacts.html" %}

{% endblock content %}
