{% extends 'base.html' %}
{% load static %}

{% block content %}

<main class="container my-5">
        <!-- Hero Section -->
        <section class="row align-items-center mb-6">
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold text-dark mb-4" style="text-align:left">
                   Эксперты в финансовых услугах<br>
                    <span class="text-orange">для бизнеса</span>
                </h1>
                <p class="lead text-muted mb-4"style="text-align:left">
                    Наша задача: дать решение там, где другие не смогли
                    
                </p>
                <div class="d-flex gap-3">
                    <a href="#services" class="btn btn-orange btn-lg px-4">
                        Фабрика
                    </a>
                    <a href="#contacts" class="btn btn-outline-orange btn-lg px-4">
                        Консультация
                    </a>
                </div>
            </div>
            <br>
            <div class="col-lg-6">
                <div class="text-center">
                    <img src={% static "src/images/masha_w.jpeg" %} style="width: 400px; height: 400px; object-fit: cover; border-radius: 0.1rem;">         
                </div>
            </div>
        </section>

        <section  id="services" class="bg-light rounded-3 p-5 mb-6">
            <div class="text-center mb-5">
                <h2 class="text text-uppercase fw-bold mb-3">Фабрика Банковских Продуктов</h2>
                <p class="text-muted" style="text-align: justify; font-size: 18px; text-indent: 1.5em;">Один партнер и 6 профильных услуг для минимизации финансовых и временных затрат на поиск решений
                    Делаем сложные банковские продукты простыми и доступными для каждого бизнеса.
                    Наша миссия — стать надежным проводником в мире финансов, обеспечивая предпринимателей оптимальными решениями для роста и развития.
                    Наша цель — стать вашим надежным финансовым партнером, который помогает бизнесу достигать новых вершин.
                </p>
            </div>

            <div class="text-center mb-5">
                <h2 class="text text-uppercase fw-bold mb-3">Ценности компании</h2>

            </div>

            <div class="row text-center">
                <div class="col-md-4">
                    <h3 class="text-orange fw-bold">Доступность </h3>
                    <p class="text-muted mb-0" style="text-align: justify; font-size: 18px;">мы говорим с клиентами на понятном языке и делаем сложные продукты простыми в использовании</p>
                    <br>
                </div>
                <div class="col-md-4">
                    <h3 class="text-orange fw-bold">Экспертиза </h3>
                    <p class="text-muted mb-0" style="text-align: justify; font-size: 18px;">глубокое знание каждого банковского продукта позволяет нам предлагать только проверенные решения</p>
                    <br>
                </div>
                <div class="col-md-4">
                    <h3 class="text-orange fw-bold">Партнерство </h3>
                    <p class="text-muted mb-0" style="text-align: justify; font-size: 18px;">мы выстраиваем долгосрочные отношения, основанные на взаимном доверии и прозрачности</p>
                    <br>
                </div>
                <div class="col-md-4">
                    <h3 class="text-orange fw-bold">Инновации </h3>
                    <p class="text-muted mb-0" style="text-align: justify; font-size: 18px;">постоянно развиваемся и ищем новые возможности для совершенствования наших услуг</p>
                    <br>
                </div>
                <div class="col-md-4">
                    <h3 class="text-orange fw-bold">Ответственность </h3>
                    <p class="text-muted mb-0" style="text-align: justify; font-size: 18px;"> несем полную ответственность за каждый рекомендованный продукт и его результат</p>
                    <br>
                </div>
                <div class="col-md-4">
                    <h3 class="text-orange fw-bold">Клиентоцентричность </h3>
                    <p class="text-muted mb-0" style="text-align: justify; font-size: 18px;">всегда ставим интересы клиента на первое место и подбираем решения под его уникальные задачи</p>
                    <br>
                </div>
            </div>
        </section>






{% include "contacts.html" %}

{% endblock content %}
