{% load static %}

<section id="services" class="bg-light rounded-3 p-5 mb-6">
        <div class="text-center mb-5">
        <h2 class="text text-uppercase fw-bold mb-3">Факторинг</h2>
        {% comment %} <p class="text-muted" style="text-align: justify; font-size: 18px; text-indent: 1.5em;">Мы выстраиваем долгосрочное и взаимовыгодное партнерство с ведущими финансовыми учреждениями России, что позволяет нам предлагать клиентам наиболее выгодные и разнообразные условия по всем финансовым продуктам. Это сотрудничество обеспечивает нам доступ к широкой линейке банковских продуктов и возможность подбирать оптимальные решения для каждого клиента.</p> {% endcomment %}
    </div>
    <!-- Первая строка с двумя элементами -->
    <div class="row">
        <!-- Элемент 1 -->
        <div class="col-md-6 mb-4">
            <div class="card clickable-card p-4 h-100" data-bs-toggle="modal" data-bs-target="#modal1f">
                <div class="row align-items-center flex-md-row flex-column">  <!-- Изменено на flex-column для мобильных -->
                    <div class="col-md-4 col-12 text-center text-md-start mb-3 mb-md-0">  <!-- Изменены классы -->
                        <img src="{% static 'src/images/cases/im3.jpg' %}"  
                             class="service-image img-fluid" alt="Банковская гарантия" style="width: 160px; height: 160px;">
                    </div>
                    <div class="col-md-8 col-12 text-center text-md-start">  <!-- Изменены классы -->
                        <div class="service-content">
                            <div class="d-flex align-items-center flex-wrap justify-content-center justify-content-md-start">
                                <h4 class="card-title mb-0 me-2">Факторинг на сумму</h4>
                                <h4 class="card-text mb-0 text-orange">25 000 000 ₽</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Элемент 2 -->
        {% comment %} <div class="col-md-6 mb-4">
            <div class="card clickable-card p-4 h-100" data-bs-toggle="modal" data-bs-target="#modal2f">
                <div class="row align-items-center flex-md-row flex-column">
                    <div class="col-md-4 col-12 text-center text-md-start mb-3 mb-md-0">
                        <img src="{% static 'src/images/cases/f2.jpg' %}"  
                             class="service-image img-fluid" alt="Банковская гарантия" style="width: 160px; height: 160px;">
                    </div>
                    <div class="col-md-8 col-12 text-center text-md-start">
                        <div class="service-content">
                            <h4 class="card-title mb-1">Открытие факторинговой линии</h4>
                            <h4 class="card-text mb-0 text-orange">88 888 000 ₽</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div> {% endcomment %}
    </div>



</section>

<!-- Модальное окно 1 -->
<div class="modal fade" id="modal1f" tabindex="-1" aria-labelledby="modal1Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                {% comment %} <h4 class="modal-title" id="modal1Label">Банковская гарантия</h4> {% endcomment %}
                <div class="service-content">
                            <h2 class="card-title d-inline mb-2">Установление лимита финансирования на - </h2>
                            <h2 class="card-text d-inline mb-2 text-orange ">   25 000 000 ₽</h2>
                            
                        </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 text-center">
                        <img src="{% static 'src/images/cases/im3.jpg' %}" 
                             class="img-fluid rounded mb-4" alt="Банковская гарантия" style="width: 390px; height: 350px;">
                    </div>
                    <div class="col-md-4">
                        {% comment %} <div class="service-content">
                            <h4 class="card-title mb-2">Банковская гарантия на</h4>
                            <h4 class="card-text mb-2 text-orange">182 000 000</h4>
                        </div> {% endcomment %} 
                        <br>
                        <h5>Задача:</h5>
                        <p>
                            {% comment %} Заказчик: АО "Транснефть"<br> {% endcomment %}

                            Продукт: факторинг<br>
                            Клиент: оптовая торговля одеждой<br>
                            Установление лимита финансирования 25 000 000 руб<br>
                            {% comment %} Срок: 24 месяца
                            Кредитная ставка: ключевая ставка -12 мес.,  ключевая ставка +3% - с 13 мес<br> {% endcomment %}

                            <br>
                            <h5> Сложности:</h5>
                            1. Регион регистрации компании (Курская область);<br>
                            2. История работы с дебиторами;<br>
                            3. Текущая выручка компании, размер выручки дебиторов;<br>
                            {% comment %} 4. Санкционный заказчик;<br> {% endcomment %}
                            {% comment %} 4. Закупка у единственного поставщика( нет размещения на ЕИС);<br>
                            5. Большинство банков заняты другим агентом и получены отрицательные решения;<br> {% endcomment %}
                            {% comment %} 6. Имели  одно предложение в очень высокой ставкой;<br> {% endcomment %}
                            {% comment %} 7. Арбитраж;<br>
                            8. Расхождения в данных финансовой отчетности;<br>
                            9. Ограниченный срок 3 дня;<br>
                            </p>                    {% endcomment %}
                            <br>
                        
                        <h5>Результат:</h5>
                        <p>Нашли факторинговую компанию, установили и запустили клиенту лимит финансирования - 25 000 000 руб. </p>
                    </div>
                </div>
            </div>
            {% comment %} <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary">Оформить заявку</button>
            </div> {% endcomment %}
        </div>
    </div>
</div>


