{% load static %}

<section id="services" class="bg-light rounded-3 p-5 mb-6">
        <div class="text-center mb-5">
        <h2 class="text text-uppercase fw-bold mb-3">Кредитование</h2>
        {% comment %} <p class="text-muted" style="text-align: justify; font-size: 18px; text-indent: 1.5em;">Мы выстраиваем долгосрочное и взаимовыгодное партнерство с ведущими финансовыми учреждениями России, что позволяет нам предлагать клиентам наиболее выгодные и разнообразные условия по всем финансовым продуктам. Это сотрудничество обеспечивает нам доступ к широкой линейке банковских продуктов и возможность подбирать оптимальные решения для каждого клиента.</p> {% endcomment %}
    </div>
    <!-- Первая строка с двумя элементами -->
    <div class="row">
        <!-- Элемент 1 -->
        <div class="col-md-6 mb-4">
            <div class="card clickable-card p-4 h-100" data-bs-toggle="modal" data-bs-target="#modal1cr">
                <div class="row align-items-center flex-md-row flex-column">  <!-- Изменено на flex-column для мобильных -->
                    <div class="col-md-4 col-12 text-center text-md-start mb-3 mb-md-0">  <!-- Изменены классы -->
                        <img src="{% static 'src/images/cases/c1.jpg' %}"  
                             class="service-image img-fluid" alt="Банковская гарантия" style="width: 160px; height: 160px;">
                    </div>
                    <div class="col-md-8 col-12 text-center text-md-start">  <!-- Изменены классы -->
                        <div class="service-content">
                            <div class="d-flex align-items-center flex-wrap justify-content-center justify-content-md-start">
                                <h4 class="card-title mb-0 me-2">Кредит без залогов  на</h4>
                                <h4 class="card-text mb-0 text-orange">100 000 000 ₽</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Элемент 2 -->
        <div class="col-md-6 mb-4">
            <div class="card clickable-card p-4 h-100" data-bs-toggle="modal" data-bs-target="#modal2cr">
                <div class="row align-items-center flex-md-row flex-column">
                    <div class="col-md-4 col-12 text-center text-md-start mb-3 mb-md-0">
                        <img src="{% static 'src/images/cases/f2.jpg' %}"  
                             class="service-image img-fluid" alt="Банковская гарантия" style="width: 160px; height: 160px;">
                    </div>
                    <div class="col-md-8 col-12 text-center text-md-start">
                        <div class="service-content">
                            <h4 class="card-title mb-1">Кредит на исполнение контракта</h4>
                            <h4 class="card-text mb-0 text-orange">36 200 000 ₽</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Вторая строка с двумя элементами -->
    <div class="row">
        <!-- Элемент 3 -->
        <div class="col-md-6 mb-4">
            <div class="card clickable-card p-4 h-100" data-bs-toggle="modal" data-bs-target="#modal3cr">
                <div class="row align-items-center flex-md-row flex-column">
                    <div class="col-md-4 col-12 text-center text-md-start mb-3 mb-md-0">
                        <img src="{% static 'src/images/cases/im5.jpg' %}"  
                             class="service-image img-fluid" alt="Банковская гарантия" style="width: 160px; height: 160px;">
                    </div>
                    <div class="col-md-8 col-12 text-center text-md-start">
                        <div class="service-content">
                            <div class="d-flex align-items-center flex-wrap justify-content-center justify-content-md-start">
                                <h4 class="card-title mb-0 me-2">Кредит без залогов на</h4>
                                <h4 class="card-text mb-0 text-orange">16 237 000 ₽</h4>
                            </div>
                            <div class="d-flex align-items-center flex-wrap justify-content-center justify-content-md-start">                                
                                <h4 class="card-title mb-0 me-2"> и кредитный лимит на</h4>
                                <h4 class="card-text mb-0 text-orange">34 912 000 ₽</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Элемент 4 -->
        <div class="col-md-6 mb-4">
            <div class="card clickable-card p-4 h-100" data-bs-toggle="modal" data-bs-target="#modal4cr">
                <div class="row align-items-center flex-md-row flex-column">
                    <div class="col-md-4 col-12 text-center text-md-start mb-3 mb-md-0">
                        <img src="{% static 'src/images/cases/im2.jpg' %}"  
                             class="service-image img-fluid" alt="Банковская гарантия" style="width: 160px; height: 160px;">
                    </div>
                    <div class="col-md-8 col-12 text-center text-md-start">
                        <div class="service-content">
                            <h4 class="card-title mb-1">Кредит на исполнение контракта</h4>
                            <h4 class="card-text mb-0 text-orange">240 000 000 ₽</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Модальное окно 1 -->
<div class="modal fade" id="modal1cr" tabindex="-1" aria-labelledby="modal1Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                {% comment %} <h4 class="modal-title" id="modal1Label">Банковская гарантия</h4> {% endcomment %}
                <div class="service-content">
                            <h2 class="card-title d-inline mb-2">Кредит без залогов на - </h2>
                            <h2 class="card-text d-inline mb-2 text-orange ">   100 000 000 ₽</h2>
                            
                        </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 text-center">
                        <img src="{% static 'src/images/cases/c1.jpg' %}" 
                             class="img-fluid rounded mb-4" alt="Банковская гарантия" style="width: 390px; height: 350px;">
                    </div>
                    <div class="col-md-4">
                        {% comment %} <div class="service-content">
                            <h4 class="card-title mb-2">Банковская гарантия на</h4>
                            <h4 class="card-text mb-2 text-orange">182 000 000</h4>
                        </div> {% endcomment %} 
                        <br>
                        <h5>Задача:</h5>
                        <p>
                            {% comment %} Заказчик: АО "Транснефть"<br> {% endcomment %}

                            Продукт: кредитование на пополнение оборотных средств (рефинансирование  и ВКЛ)<br>
                            Клиент: специализированная оптовая торговля<br>
                            Сумма кредита: 100 000 000 руб<br>
                            Срок: 24 месяца<br>
                            Кредитная ставка: ключевая ставка -12 мес.,  ключевая ставка +3% - с 13 мес.<br>

                            <br>
                            <h5> Сложности:</h5>
                            1. Зависимость от одного заказчика 90%;<br>
                            2. Отсутствие залога.<br>
                            {% comment %} 3. Несопоставимая выручка;<br>
                            4. Закупка у единственного поставщика( нет размещения на ЕИС);<br>
                            5. Большинство банков заняты другим агентом и получены отрицательные решения;<br>
                            {% comment %} 6. Имели  одно предложение в очень высокой ставкой;<br> {% endcomment %}
                            {% comment %} 7. Арбитраж;<br>
                            8. Расхождения в данных финансовой отчетности;<br>
                            9. Ограниченный срок 3 дня;<br> {% endcomment %}
                            </p>                   
                            <br>
                        
                        <h5>Результат:</h5>
                        <p>Выдача в банке ТОП-60, без залогов, под поручиетльство собственника</p>
                    </div>
                </div>
            </div>
            {% comment %} <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary">Оформить заявку</button>
            </div> {% endcomment %}
        </div>
    </div>
</div>

<!-- Модальное окно 2 -->
<div class="modal fade" id="modal2cr" tabindex="-1" aria-labelledby="modal2Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                {% comment %} <h4 class="modal-title" id="modal1Label">Банковская гарантия</h4> {% endcomment %}
                <div class="service-content">
                            <h2 class="card-title d-inline mb-2">Кредит на исполнение контракта на - </h2>
                            <h2 class="card-text d-inline mb-2 text-orange ">   36 200 000 ₽</h2>
                            
                        </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 text-center">
                        <img src="{% static 'src/images/cases/f2.jpg' %}" 
                             class="img-fluid rounded mb-4" alt="Банковская гарантия" style="width: 390px; height: 350px;">
                    </div>
                    <div class="col-md-4">
                        {% comment %} <div class="service-content">
                            <h4 class="card-title mb-2">Банковская гарантия на</h4>
                            <h4 class="card-text mb-2 text-orange">182 000 000</h4>
                        </div> {% endcomment %} 
                        <br>
                        <h5>Задача:</h5>
                        <p>
                            {% comment %} Заказчик: АО "Транснефть"<br> {% endcomment %}

                            Продукт: кредитование на на исполнение контракта<br>
                            Клиент: техническое обслуживание  аппаратных и программных средств и быстровозводимые модульные здания<br>
                            Сумма кредита: 36 200 00 руб.<br>
                            {% comment %} Срок: 24 месяца
                            Кредитная ставка: ключевая ставка -12 мес.,  ключевая ставка +3% - с 13 мес<br> {% endcomment %}

                            <br>
                            <h5> Сложности:</h5>
                            1. Отсутствие поступлений последние 6 мес. на расчетный счет;<br>
                            2. Коммерческие контракты;<br>
                            3. Отсутствие залогового обеспечения.<br>
                            {% comment %} 3. Несопоставимая выручка;<br>
                            4. Закупка у единственного поставщика( нет размещения на ЕИС);<br>
                            5. Большинство банков заняты другим агентом и получены отрицательные решения;<br>
                            {% comment %} 6. Имели  одно предложение в очень высокой ставкой;<br> {% endcomment %}
                            {% comment %} 7. Арбитраж;<br>
                            8. Расхождения в данных финансовой отчетности;<br>
                            9. Ограниченный срок 3 дня;<br> {% endcomment %}
                            </p>                   
                            <br>
                        
                        <h5>Результат:</h5>
                        <p>Выдача в банке ТОП-60 за 2 дня, без залога</p>
                    </div>
                </div>
            </div>
            {% comment %} <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary">Оформить заявку</button>
            </div> {% endcomment %}
        </div>
    </div>
</div>

<!-- Модальное окно 3 -->
<div class="modal fade" id="modal3cr" tabindex="-1" aria-labelledby="modal3Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                {% comment %} <h4 class="modal-title" id="modal1Label">Банковская гарантия</h4> {% endcomment %}
                <div class="service-content">
                            <h2 class="card-title d-inline mb-2">Кредит без залогов на - </h2>
                            <h2 class="card-text d-inline mb-2 text-orange ">   16 237 000 ₽ &ensp; <br></h2>

                            <h2 class="card-title d-inline mb-2">и кредитный лимит на - </h2>
                            <h2 class="card-text d-inline mb-2 text-orange ">   34 912 000 ₽</h2>
                            
                        </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 text-center">
                        <img src="{% static 'src/images/cases/im5.jpg' %}" 
                             class="img-fluid rounded mb-4" alt="Банковская гарантия" style="width: 390px; height: 350px;">
                    </div>
                    <div class="col-md-4">
                        {% comment %} <div class="service-content">
                            <h4 class="card-title mb-2">Банковская гарантия на</h4>
                            <h4 class="card-text mb-2 text-orange">182 000 000</h4>
                        </div> {% endcomment %} 
                        <br>
                        <h5>Задача:</h5>
                        <p>
                            {% comment %} Заказчик: АО "Транснефть"<br> {% endcomment %}

                            Продукт: кредитование на пополнение оборотных средств<br>
                            Клиент: выполнение  электромонтажных и пусконаладочных работ, поставка опор и шефмонтаж<br>
                            Сумма кредита: 16 237 000 руб<br>
                            Кредитный лимит: 34 912 000 руб<br>
                            Срок: 36 месяцев<br>
                            Кредитная ставка: ключевая ставка +3%<br>

                            <br>
                            <h5> Сложности:</h5>
                            1. Контрактная сфера деятельности;<br>
                            2. Отсутствие залога.<br>
                            {% comment %} 3. Несопоставимая выручка;<br>
                            4. Закупка у единственного поставщика( нет размещения на ЕИС);<br>
                            5. Большинство банков заняты другим агентом и получены отрицательные решения;<br>
                            {% comment %} 6. Имели  одно предложение в очень высокой ставкой;<br> {% endcomment %}
                            {% comment %} 7. Арбитраж;<br>
                            8. Расхождения в данных финансовой отчетности;<br>
                            9. Ограниченный срок 3 дня;<br> {% endcomment %}
                            </p>                   
                            <br>
                        
                        <h5>Результат:</h5>
                        <p>Выдача в банке ТОП-10, без залогов, под поручиетльство собственника</p>
                    </div>
                </div>
            </div>
            {% comment %} <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary">Оформить заявку</button>
            </div> {% endcomment %}
        </div>
    </div>
</div>

<!-- Модальное окно 4 -->
<div class="modal fade" id="modal4cr" tabindex="-1" aria-labelledby="modal4Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                {% comment %} <h4 class="modal-title" id="modal1Label">Банковская гарантия</h4> {% endcomment %}
                <div class="service-content">
                            <h2 class="card-title d-inline mb-2">Кредит на исполнение контракта на - </h2>
                            <h2 class="card-text d-inline mb-2 text-orange ">   240 000 000 ₽</h2>
                            
                        </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 text-center">
                        <img src="{% static 'src/images/cases/im2.jpg' %}" 
                             class="img-fluid rounded mb-4" alt="Банковская гарантия" style="width: 390px; height: 350px;">
                    </div>
                    <div class="col-md-4">
                        {% comment %} <div class="service-content">
                            <h4 class="card-title mb-2">Банковская гарантия на</h4>
                            <h4 class="card-text mb-2 text-orange">182 000 000</h4>
                        </div> {% endcomment %} 
                        <br>
                        <h5>Задача:</h5>
                        <p>
                            {% comment %} Заказчик: АО "Транснефть"<br> {% endcomment %}

                            Продукт: кредитование на исполнение контракта<br>
                            Клиент: поставка оборудования<br>
                            Кредит на исполнение контракта  в размере 240 000 000 ₽, без залога, с переводом оборотов  по контракту<br>
                            {% comment %} Срок: 24 месяца
                            Кредитная ставка: ключевая ставка -12 мес.,  ключевая ставка +3% - с 13 мес<br> {% endcomment %}

                            <br>
                            <h5> Сложности:</h5>
                            1. Валютный контракт;<br>
                            2. Закрытый  контракт;<br>
                            3. Отсутствие залогового обеспечения;<br>
                            4. Санкционный заказчик.<br>
                            {% comment %} 4. Закупка у единственного поставщика( нет размещения на ЕИС);<br>
                            5. Большинство банков заняты другим агентом и получены отрицательные решения;<br> {% endcomment %}
                            {% comment %} 6. Имели  одно предложение в очень высокой ставкой;<br> {% endcomment %}
                            {% comment %} 7. Арбитраж;<br>
                            8. Расхождения в данных финансовой отчетности;<br>
                            9. Ограниченный срок 3 дня;<br>
                            </p>                    {% endcomment %}
                            <br>
                        
                        <h5>Результат:</h5>
                        <p>Согласовано в банке ТОП-10, без залогов</p>
                    </div>
                </div>
            </div>
            {% comment %} <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary">Оформить заявку</button>
            </div> {% endcomment %}
        </div>
    </div>
</div>
