{% extends 'base.html' %}
{% load static %}

{% block content %}

<main class="container my-5">
        <!-- Hero Section -->
        <section class="row align-items-center mb-6">
            <div class="col-lg-6">
                <h1 class="display-4 fw-bold text-dark mb-4">
                    Наша<br>
                    <span class="text-orange">команда</span>
                </h1>
                <p class="lead text-muted mb-4">
                    
                </p>
                <div class="d-flex gap-3">
                    <a href="#services" class="btn btn-orange btn-lg px-4">
                        Команда
                    </a>
                    <a href="#contacts" class="btn btn-outline-orange btn-lg px-4">
                        Консультация
                    </a>
                </div>
            </div>
            <br>
            <div class="col-lg-6">
                <div class="bg-light rounded-2 p-2 text-center">
                    <img src={% static "src/images/pig_9.jpg" %} style="width: 100%; height: 100%; object-fit: cover; border-radius: 0.1rem;">         
                </div>
            </div>
        </section>


        <section  id="services" class="bg-light rounded-3 p-5 mb-6">
            <div class="text-center mb-5">
                <h2 class="text-orange text-uppercase fw-bold mb-3">Профессионализм и экспертиза</h2>
                <p class="text-muted" style="text-align: justify; font-size: 18px; text-indent: 1.5em;">Не подвергайте ваш бизнес рискам отказов и финансовым потерям  — оставьте заявку нашим специалистам.
Наша цель — не просто оказать услугу, а стать надежным партнером, который сопровождает клиента на всех этапах.</p>
            </div>

            <div class="row text-center">
                <div class="col-md-4">
                    <h3 class="text-orange fw-bold">Опыт работы</h3>
                    <p class="text-muted mb-0">средний опыт работы в финансовой сфере - 15 лет</p>
                    <br>
                </div>
                <div class="col-md-4">
                    <h3 class="text-orange fw-bold">Специализация </h3>
                    <p class="text-muted mb-0">на конкретных направлениях финансовых услуг</p>
                    <br>
                </div>
                <div class="col-md-4">
                    <h3 class="text-orange fw-bold">Регулярность</h3>
                    <p class="text-muted mb-0">профессионального обучения и сертификации</p>
                    <br>
                </div>
                <div class="col-md-4">
                    <h3 class="text-orange fw-bold">Навыки анализа</h3>
                    <p class="text-muted mb-0">комплексного финансового состояния предприятий</p>
                    <br>
                </div>
                <div class="col-md-4">
                    <h3 class="text-orange fw-bold">Экспертиза </h3>
                    <p class="text-muted mb-0"> в области юридического сопровождения сделок</p>
                    <br>
                </div>
                <div class="col-md-4">
                    <h3 class="text-orange fw-bold">Умение работать</h3>
                    <p class="text-muted mb-0">со сложными и нестандартными задачами наших клиентов</p>
                    <br>
                </div>
            </div>
        </section>

<section id="services" class="mb-6">
    <div class="text-center mb-5">
        <h2 class="text-orange text-uppercase fw-bold mb-3">Сотрудники</h2>
        <p class="text-muted" style="text-align: justify; font-size: 18px; text-indent: 1.5em;">Мы объединяем специалистов высокой квалификации с многолетним опытом работы в финансовом секторе.
        Наш коллектив состоит из профильных экспертов в области банковского дела, кредитования, лизинговых операций и страховых продуктов.</p>
    </div>
    <br>


    
    
    {% comment %} {% if items %}
    <div class="row g-2">
        {% for item in items %}
        {% if item %}
        <div class="col-md-6">
            <div class="card h-100 border-0 shadow-sm hover-card">
                <div class="card-body p-6">
                    <div class="row">
                        <!-- Фото слева -->
                        <div class="col-12 col-md-6 mb-3 mb-md-0">
                            <div class="image-container" style="height: 400px; width: 100%; overflow: hidden;">
                                {% if item.photo %}
                                    <img src="{{ item.photo.url }}" alt="Статья" decoding="async" loading="lazy" class="full-article__image w-100 h-100 object-fit-cover">
                                {% endif %}
                            </div>
                        </div>
                        
                        <!-- Информация справа -->
                        <div class="col-12 col-md-6">
                            {% if item.job_title %}
                                <h5 class="mb-3">{{ item.job_title }}</h5>
                                <h5 class="mb-3">{{ item.fio }}</h5>
                                <h5 class="mb-3">{{ item.email }}</h5>
                                <h5 class="mb-3">{{ item.phone }}</h5>
                                <h5 class="mb-3">{{ item.information }}</h5>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% endif %} {% endcomment %}

    {% if items %}
<div class="row g-2">
    {% for item in items %}
    {% if item %}
    <div class="col-md-4">  <!-- Изменено с col-md-6 на col-md-4 -->
        <div class="card h-100 border-0 shadow-sm hover-card">
            <div class="card-body p-6">
                <div class="row">
                    <!-- Фото слева -->
                    <div class="col-12 col-md-6 mb-3 mb-md-0">
                        <div class="image-container" style="height: 300px; width: 100%; overflow: hidden;">
                            {% if item.photo %}
                                <img src="{{ item.photo.url }}" alt="Статья" decoding="async" loading="lazy" class="full-article__image w-100 h-100 object-fit-contain">
                            {% endif %}
                        </div>
                    </div>
                    
                    <!-- Информация справа -->
                    <div class="col-12 col-md-6">
                        {% if item.job_title %}
                            <h5 class="mb-2 fs-6">{{ item.job_title }}</h5>
                            <h5 class="mb-2 fs-6">{{ item.fio }}</h5>
                            <h5 class="mb-2 fs-6">{{ item.email }}</h5>
                            <h5 class="mb-2 fs-6">{{ item.phone }}</h5>
                            <h5 class="mb-2 fs-6">{{ item.information }}</h5>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endif %}



</section>




{% include "contacts.html" %}

{% endblock content %}
