{% extends 'base.html' %}
{% load static %}

{% block content %}

<main class="container my-5">
        <!-- Hero Section -->
        <section class="row align-items-center mb-6">
            <div class="col-lg-6">
                <h1 class="display-4 fw-bold text-dark mb-4">
                    Оценка<br>
                    <span class="text-orange">сотрудничества</span>
                </h1>
                <p class="lead text-muted mb-4">
                    
                </p>
                <div class="d-flex gap-3">
                    <a href="#services" class="btn btn-orange btn-lg px-4">
                        Сертификаты
                    </a>
                    <a href="#contacts" class="btn btn-outline-orange btn-lg px-4">
                        Консультация
                    </a>
                </div>
            </div>
            <br>
            <div class="col-lg-6">
                <div class="bg-light rounded-2 p-2 text-center">
                    <img src={% static "src/images/pig_3.jpg" %} style="width: 100%; height: 100%; object-fit: cover; border-radius: 0.1rem;">         
                </div>
            </div>
        </section>


        <section id="services" class="mb-6">
            <div class="text-center mb-5">
                <h2 class="text-orange text-uppercase fw-bold mb-3">Дипломы и сертификаты</h2>
                <p class="text-muted" style="text-align: justify; font-size: 18px; text-indent: 1.5em;">Мы гордимся официальным признанием нашего профессионализма ведущими финансово-кредитными организациями страны.
                     Наш партнерский статус подтвержден сертификатами и дипломами от топовых банков и финансовых организаций, с которыми мы выстраиваем долгосрочное сотрудничество.
                      Эти документы свидетельствуют о высоком уровне доверия и надежности, которые мы заслужили на финансовом рынке.
                       </div>
            
            {% if items %}
            <div class="row g-2">
                {% for item in items %}
                {% if item %}
                <div class="col-md-3">
                    <div class="card h-100 border-0 shadow-sm hover-card">
                        <div class="card-body p-3">
                            <div class="row">
                                <!-- Фото слева -->
                                {% comment %} <div class="col-12 col-md-6 mb-3 mb-md-0"> {% endcomment %}
                                    <div class="image-container" style="height: 400px; width: 100%; overflow: hidden;">
                                        {% if item.photo %}
                                            <img src="{{ item.photo.url }}" alt="Статья" decoding="async" loading="lazy" class="full-article__image w-100 h-105">
                                        {% endif %}
                                    </div>
                                {% comment %} </div> {% endcomment %}
                                
                                <!-- Информация справа -->
                                {% comment %} <div class="col-12 col-md-6">
                                    {% if item.job_title %}
                                        <h5 class="mb-3">{{ item.job_title }}</h5>
                                        <h5 class="mb-3">{{ item.fio }}</h5>
                                        <h5 class="mb-3">{{ item.email }}</h5>
                                        <h5 class="mb-3">{{ item.phone }}</h5>
                                        <h5 class="mb-3">{{ item.information }}</h5>
                                    {% endif %}
                                </div> {% endcomment %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            {% endif %}
        </section>



{% include 'paginator.html' %}
{% include "contacts.html" %}

{% endblock content %}
