{% extends 'base.html' %}
{% load static %}


{% block content %}
<main class="container my-5">


            {% if item %}

    <div class="row g-2">
        <div class="col-md-12">
            <a class="card-link text-decoration-none">
                <div class="card h-100 border-0 shadow-sm hover-card">
                    <div class="card-body text-center p-4">
                        
                    {% if item.title %}
                        <i class="bi bi-file-text text-orange" style="font-size: 2.5rem;"></i>
                    {% endif %}

                        {% if item.title %}
                            <h5 class="mt-3 mb-3">Документ: {{ item.title }}</h5>
                        {% endif %}

                        {% if item.content %}
                            <p class="text-muted" style='text-align: justify; text-justify: inter-word; line-height: 1.6; hyphens: auto;'>
                                {{ item.content|linebreaksbr }}</p>
                        {% endif %}

                    </div>
                </div>
            </a>
        </div>

            {% endif %}



            </div>
        </section>

    {% include "contacts.html" %}

    
    </main>
{% endblock content %}